html {
    scroll-behavior: smooth;
}

section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-weight: 700;
    font-size: 4rem;
    padding: 5% 1%;
}

.circle-icon {
    border-radius: 50%;
    background-color: whitesmoke;
}

.card {
    opacity: 0;
    background: transparent;
    border: none;
    padding: 20px 0 0 0;
}

.card-body {
    padding: 0rem 1.25rem;
}

.code-panel {
    background-color: #f8f9fa;
    padding: 1rem;
    border-radius: 0.25rem;
}

.container {
    margin-bottom: 10%;
}

.animate {
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.animate.slide-in-left {
    animation-name: slideInLeft;
}

.animate.slide-in-right {
    animation-name: slideInRight;
}

.animate.slide-in-top {
    animation-name: slideInTop;
}

.animate.fade-in {
    /*animation-name: fadeIn;*/
    animation: fadeIn 4s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInTop {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

#sectionOne {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url("../resources/bg-home.jpg");
    background-size: cover;
    background-position: right;
    color: whitesmoke;
}

#sectionTwo {
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgb(44, 62, 80));
    color: whitesmoke;
}

#sectionThree {
    color: whitesmoke;
    background-image: linear-gradient(rgb(44, 62, 80), rgb(76, 161, 175));
}

.sectionThree-bg {
    position: absolute;
    margin-top: 5%;
    left: 60%;
    width: 40%;
    height: 90%;
    background-image: url(../resources/chatteroni.png);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.5;
    z-index: 0;
}

#sectionThree .row {
    margin-right: 30%;
}

#sectionFour {
    color: whitesmoke;
    background-image: linear-gradient(rgb(76, 161, 175), rgb(20, 30, 48));
}

.sectionFour-bg {
    position: absolute;
    margin-top: 6%;
    right: 60%;
    width: 40%;
    height: 80%;
    background-image: url(../resources/ribbon.png);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.5;
    z-index: 0;
}


#sectionFour .row {
    margin-left: 30%;
}

#sidebar {
    background: whitesmoke;
    position: fixed;
    top: 40%;
    right: 0;
    z-index: 999;
    width: 100%;
    height: 23px;
}